header {
  position: relative;
}
img {
  position: absolute;
  margin: 2rem;
  max-width: 160px;
}
main {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../../../assets/fakeflox bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  text-align: center;
  font-family: "Inter", sans-serif;
}
form,
form div {
  display: grid;
  gap: 0.5rem;
}
form {
  z-index: 2;
  max-width: 90%;
  margin: auto;
  gap: 1.4rem;
  background-color: #030303cc;
  padding: 2rem 1.8rem;
  border-radius: 7px;
  animation: slide-up 1s ease-out;
}
h2 {
  font-size: 19px;
  color: white;
  text-align: left;
}
p {
  color: #e50914;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.4;
}
form span {
  color: rgb(116, 116, 116);
}

form .sign-up {
  font-weight: 700;
  color: #e50914;
  transition: all 0.2s ease-out;
  cursor: pointer;
}

form .sign-up:hover {
  font-size: 14px;
}
form input {
  background-color: #333333;
  border: 1px solid transparent;
  border-radius: 5px;
  height: 50px;
  letter-spacing: 1px;
  color: #f2f2f2;
  font-size: 15px;
  outline: none;
  padding: 1rem 1.2rem;
  transition: all 0.2s ease-out;
  opacity: 1;
  transition: all 0.2s ease-out;
}
form button {
  font-size: 13px;
  color: #f2f2f2;
  cursor: pointer;
  padding: 1.2rem 0.8rem;
  line-height: 1;
  background-color: #e50914;
  height: 45.52px;
  font-weight: 600;
  border: none;
  transition: 0.3s ease-out;
  border-radius: 5px;
  max-height: fit-content;
}

.red:hover {
  background-color: #be0710;
}

.divider {
  border-bottom: 1px solid rgb(116, 116, 116);
  margin: 0 24px;
}
a {
  all: unset;
}
.error {
  color: rgb(255, 213, 0);
  font-weight: normal;
  text-align: left;
}
form input.error-border {
  border-bottom: 1px solid rgb(255, 213, 0);
}
@keyframes slide-up {
  0% {
    transform: translateY(20%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (max-width: 330px) {
  span::after {
    content: "\A";
    white-space: pre;
  }
}
@media (min-width: 405px) {
  h2 {
    font-size: 24px;
  }
  .input-div input {
    margin-bottom: 5px;
  }
  form button {
    height: 60px;
    font-size: 15px;
    font-weight: 500;
    padding: 16px 12px;
  }
}
@media (min-width: 768px) {
  form {
    max-width: 500px;
    padding: 3rem;
  }
  form span {
    font-size: 16px;
    font-weight: normal;
  }
}
@media (min-width: 800px) {
  form {
    height: 100vh;
  }
}
