<header>
  <img src="../assets/Fakeflix_logo.png" alt="" />
</header>
<main>
  <form action="">
    <h2>Sign Up</h2>
    <div class="input-div">
      <p>
        Pay attention: this is not the original Netflix sign in. Don't insert
        your real credentials here!
      </p>
      <input type="text" placeholder="Your name" />
      <input type="email" placeholder="E-mail" />
      <input type="password" placeholder="Password" />
      <input type="password" placeholder="Repeat your password" />
    </div>
    <div class="buttons">
      <button class="red">Sign in</button>
    </div>
    <div class="divider"></div>

    <p>
      <span>Haven't you registered yet?</span>
      <a routerLink="/auth/sign-in"> <span class="sign-up"> Sign In </span></a>
    </p>
  </form>
</main>
