header {
  position: relative;
}
img {
  position: absolute;
  max-width: 160px;
  z-index: 1;
  margin: 2em;
}

section {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../../../assets/fakeflox\ bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0 1rem;
  min-height: 100vh;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
form {
  max-width: fit-content;
  margin: auto;
  padding: 32px 28px;
  background-color: #030303cc;
  font-family: "Inter", sans-serif;
  text-align: center;
  z-index: 2;
  position: relative;
  border-radius: 5px;
  animation: slide-up 1s forwards;
}
form h2 {
  color: white;
  font-size: 19px;
  text-align: left;
}
form p {
  color: #e50914;
  font-size: 14px;
  line-height: 1.4;
  font-weight: 500;
}
p:nth-child(2){
     margin-top: 21px;
}
form span {
  color: rgb(116, 116, 116);
}
form .sign-up{
    font-weight: 700;
    color: #e50914;
    transition: all .2s ease-out;
    cursor: pointer;
    
}
form .sign-up:hover{
  font-size: 14px;
}
form div {
  max-height: fit-content;
  display: grid;
  gap: 0.5em;
  margin: 1rem 0;
}

form button {
  border-radius: 5px;
  font-size: 13px;
  color: #f2f2f2;
  cursor: pointer;
  padding: 1.2em 0.8em;
  line-height: 1;
  font-weight: 600;
  transition: 0.3s ease-out;
}
form input {
  background-color: #333333;
  border: none;
  border-radius: 5px;
  height: 50px;
  color: #f2f2f2;
  font-size: 15px;
  outline: none;
  padding: 1em 1.2em;
  transition: all 0.2s ease-out;
  opacity: 1;
  transition: all 0.2s ease-out;
}
.red {
  background-color: #e50914;
}
.red:hover {
  background-color: #be0710;
}
.blue {
  background-color: #1356c7;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.blue:hover {
  background-color: transparent;
  border: 1px solid #d9d9d9;
}
.red,
.blue {
  border: 1px solid #0000;
}
.transparent {
  color: #d9d9d9;
  border: 1px solid #d9d9d9;
  background-color: transparent;
}
.transparent:hover {
  color: #e50914;
  border: 1px solid #e50914;
}
.divaider {
  border-bottom: 1px solid rgb(116, 116, 116);
  margin: 24px !important;
}
/* @media (min-width:335px){
    section{
        padding-top: 1rem ;
        padding-bottom: 1rem ;
    }
} */

@keyframes slide-up {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
/* @keyframes shrink {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(0.5);
    }
  } */
@media (max-width: 330px) {
  span::after {
    content: "\A";
    white-space: pre;
  }
}
@media (min-width: 400px) {
  form {
    padding: 0.5em 2em;
  }
  form h2 {
    font-size: 24px;
  }
  svg {
    height: 2em;
    width: 2em;
  }
  form button {
    font-size: 15px;

    font-weight: 500;
    min-height: 60px;
  }
  form input {
    margin-bottom: 5px;
  }
}
@media (min-width:405px){
    form{
        padding: 1em 2em;
    }
}
@media (max-width: 400px) {
  img {
    display: none;
  }
}
@media (min-width: 640px) {
  form {
    padding: 1em 3em 2em 3em;
    min-height: 100vh;

  }
}
@media (min-width: 760px) {
    form{
        max-width: 500px;
        max-height: 100vh;
    }
  span {
    font-size: 16px;
  }
}
@media (min-width: 1200px) {
  form {
    min-height: 100vh;
    padding: 3em;
  }
}
